<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.neuedu.hisjava.mapper.ExpenseclassMapper">
    <select id="searchExpenseclass" resultType="org.neuedu.hisjava.model.Expenseclass">
        select * from Expenseclass;
    </select>


</mapper>